.metadata/
ModelFiles/.project
src/.project
src/.pydevproject
*.pyc
*.jmu
*.fmux
src/PromoExport/QuadTankPack_QuadTank.jmu
Report/PromoExportReport.aux
Report/PromoExportReport.bbl
Report/PromoExportReport.dvi
Report/PromoExportReport.log
Report/PromoExportReport.toc
Report/csee_msc_example.pdf
Report/texput.log
ModelFiles/.goutputstream-XL0FEW
Report/PromoExportReport.blg
Report/PromoExportReport.pdf
.metadata/version.ini
.metadata/version.ini
.metadata/*
Report/Chapter1/chapter1.log
Report/Chapter2/chapter2.log
Report/Chapter3/chapter3.log
Report/Chapter4/chapter4.log
refactor.bundle
src/PromoExport/QuadTankPack_QuadTank_result.txt
Report/PromoExportReport.synctex.gz
Report/Appendices/appendixA.log
Report/Appendices/appendixB.log
Report/Chapter5/chapter5.log
Report/Makefile.txt
Report/.texpadtmp/
